body{
    background-color:lightgrey;
}

#topAdZone{
    width:70%;
    max-width:1000px;
    height: 70px;
    background:#F0EFEF;
    margin:0 auto;
    color:#FFFFFF;
}

#bannerZone{
    background:#F0EFEF;
    color:#FFFFFF;
    width:100%;
}

#navZone{
    width:100%;
    height:50px;
    background-image: -o-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: -moz-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: -webkit-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: -ms-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: linear-gradient(#CC021D 0%, #800011 63%);
}

.navLink{
    width:12%;
    float:left;
    height:100%;
    border-left: 1px solid #8B0000;
    border-right: 1px solid #8B0000;
    text-decoration: none;
}

.navDiv{
    text-align:center;
    padding: 8px 0;
    height:100%;
    color:#FFFFFF;
    font-weight:500;
    
}

#nav{
    height:100%;
    width:75%;
    margin:0 auto;
}

.navLink:hover{
    background-color:#BA021B;
}

#bodyWrapper{
    background-color:#F0EFEF;
    width:70%;
    max-width:850px;
    height:1300px;
    margin: 0 auto;
    padding:0 20px;
}

#bodyZone{
    background-color:#F0EFEF;
    width:100%;
    max-width:800px;
    height:1255px;
    margin:0 auto;
}

#loginBodyZone{
    background-color:#F0EFEF;
    width:100%;
    max-width:800px;
    height:auto;
    margin:0 auto;
}

#upperMessage{
height:70px;
margin:5px 0;
}

.left{
    width:49.7%;
    float:left;
    height:100%;    
}

.right{
    width:50%;
    float:right;
    height:100%;
    
}

.middleTop{
    height:320px;
    padding-top:5px;
        
}

#sliderDiv{
    height:100%;
    width:59%;
    float:left;
     
}

#midTopMsg.right{
    float:right;
    width:40%;
    height:49.7%;
    border-bottom:2px groove lightgrey;
    margin-left: 5px;
}

#midBtmMsg.right{
    float:right;
    width:40%;
    height:50%;
    margin-left:5px
}

.middleBtm{
    height:350px;
    width:100%;
    padding-top:15px;
}

.leftThird{
    height:100%;
    width:33.3%;
    float:left;
      
}

.midleftThird{
    height:100%;
    width:33%;
    float:left;
    border-right: 2px groove lightgrey;
}

.midThird{
    height:100%;
    float:left;
    width:33.3%;;
}

.rightThird{
    height:100%;
    float:right;
    width:33.3%;
}

#sliderBtm{
    height:280px;
    width:100%;
}

.top{
    padding-top:5px;
}

.bottom{
    height:270px;
    width:100%;
}

#footer{
    width:100%;
    height:270px;
}

.InnerTop{
    width:100%;
    height:49.7%;
    border-bottom:2px groove lightgrey;
    padding-bottom:10px;
}

.InnerBottom{
    width:100%;
    height:50%;
    padding-bottom:10px;
}

.imgWrapper{
    width:100%;
    
}

.imgWrapper img{
    width:100%;
}

.messageImage{
    float:left;
    width:20%;
    margin-left:5px;
    margin-right:5px;
}

.messageLinkDiv{
    width:auto;
    float:left;
}

#topLeftMsg,#topRightMsg{

    height:100%;

}

#topLeftMsg{
    border-right:2px lightgrey;
    border-right-style: groove;
}

#topRightMsg{
   
}

.messageLinkDiv{
   padding:15px 0; 
}

.messageLinkDiv a{
    color:#B8021A;
    vertical-align: middle;
    text-decoration: none;
    font-size:20px;
    font-weight: 600;
}

.adZone{
    width:100%;
    height:100%;
    padding-top:5px
}
.textZone{
    width:40%;
    float:left;
    height:100%;
    padding-bottom:5px;
}
.imageZone{
    width:60%;
    float:right;
}

.imageZone img{
   float:right;
}

.titleContent,.titleContent{
    color:#B8021A;
    font-size:20px;
    font-weight: 600;
    
}

.titleText,.titleText3{
    height:20%;
}

.descText{
    height:60%;
}

.link{
    height:20%;
}

.textZone3{
    min-height:167px;
}

.link3{
    height:20%;
    width:100%
}

.textDiv3{
    float:left;
    width:50%;
    
}

.imageZone3{
    float:right;
    width:50%;
}

.imageZone3 img{
    
    width:100%;
}

