body{
    background-color:lightgrey;
}

#topAdZone{
    width:70%;
    max-width:1000px;
    height: 70px;
    background:#F0EFEF;
    margin:0 auto;
    color:#FFFFFF;
}

#bannerZone{
    background:#F0EFEF;
    color:#FFFFFF;
    width:100%;
}

#navZone{
    width:100%;
    height:50px;
    background-image: -o-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: -moz-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: -webkit-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: -ms-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: linear-gradient(#CC021D 0%, #800011 63%);
}

.navLink{
    width:12%;
    float:left;
    height:100%;
    border-left: 1px solid #8B0000;
    border-right: 1px solid #8B0000;
    text-decoration: none;
}

.navDiv{
    text-align:center;
    padding: 8px 0;
    height:100%;
    color:#FFFFFF;
    font-weight:500;
    
}

#nav{
    height:100%;
    width:75%;
    margin:0 auto;
}

.navLink:hover{
    background-color:#BA021B;
}

#bodyWrapper{
    background-color:#F0EFEF;
    width:70%;
    max-width:850px;
    height:1455px;
    margin: 0 auto;
    padding:0 20px;
}

#bodyZone{
    background-color:#F0EFEF;
    width:100%;
    max-width:800px;
    height:1255px;
    margin:0 auto;
}

#loginBodyZone{
    background-color:#F0EFEF;
    width:100%;
    max-width:800px;
    height:auto;
    margin:0 auto;
}

#upperMessage{
height:70px;
margin:5px 0;
}

.left{
    width:49.7%;
    float:left;
    height:100%;    
}

.right{
    width:50%;
    float:right;
    height:100%;
    
}

.middleTop{
    height:320px;
    padding-top:5px;
        
}

#sliderDiv{
    height:100%;
    width:59%;
    float:left;
     
}

#midTopMsg.right{
    float:right;
    width:40%;
    height:49.7%;
    border-bottom:2px groove lightgrey;
    margin-left: 5px;
}

#midBtmMsg.right{
    float:right;
    width:40%;
    height:50%;
    margin-left:5px
}

.middleBtm{
    height:350px;
    width:100%;
    padding-top:15px;
}

.leftThird{
    height:100%;
    width:33.3%;
    float:left;
      
}

.midleftThird{
    height:100%;
    width:33%;
    float:left;
    border-right: 2px groove lightgrey;
}

.midThird{
    height:100%;
    float:left;
    width:33.3%;;
}

.rightThird{
    height:100%;
    float:right;
    width:33.3%;
}

#sliderBtm{
    height:200px;
    width:100%;
    margin-bottom:40px;
    margin-top:40px;
}

.top{
    padding-top:5px;
}

.bottom{
    height:270px;
    width:100%;
}

#footer{
    width:80%;
    margin:0 auto;
    padding:0 20px;
    max-width:850px;
    height:175px;
    background-image: -o-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: -moz-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: -webkit-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: -ms-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: linear-gradient(#CC021D 0%, #800011 63%);
    
}

.InnerTop{
    width:100%;
    height:49.7%;
    border-bottom:2px groove lightgrey;
    padding-bottom:10px;
}

.InnerBottom{
    width:100%;
    height:50%;
    padding-bottom:10px;
}

.imgWrapper{
    width:100%;
    
}

.imgWrapper img{
    width:100%;
}

.messageImage{
    float:left;
    width:20%;
    margin-left:5px;
    margin-right:5px;
}

.messageLinkDiv{
    width:auto;
    float:left;
}

#topLeftMsg,#topRightMsg{

    height:100%;

}

#topLeftMsg{
    border-right:2px lightgrey;
    border-right-style: groove;
}

#topRightMsg{
   
}

.messageLinkDiv{
   padding:15px 0; 
}

.messageLinkDiv a{
    color:#B8021A;
    vertical-align: middle;
    text-decoration: none;
    font-size:20px;
    font-weight: 600;
}

.adZone{
    width:100%;
    height:100%;
    padding-top:5px
}
.textZone{
    width:40%;
    float:left;
    height:100%;
    padding-bottom:5px;
}
.imageZone{
    width:60%;
    float:right;
}

.imageZone img{
   float:right;
}

.titleContent,.titleContent2,.titleContent3{
    color:#B8021A;
    font-size:20px;
    font-weight: 600;
    
}

.titleText,.titleText3{
    height:20%;
}

.titleText3{
    margin-bottom:5px;
}

.linkContent,.linkContent2,.linkContent3{
    color:#B8021A;
    font-size:15px;
    font-weight:600;
    text-decoration:none;
}

.descText{
    height:60%;
}

.link{
    height:20%;
}

.textZone3{
    min-height:167px;
}

.link3{
    height:20%;
    width:100%
}

.textDiv3{
    float:left;
    width:50%;
    
}

.imageZone3{
    float:right;
    width:50%;
}

.imageZone3 img{
    
    width:100%;
}

#slide1 .titleText2,#slide2 .titleText2,
#slide3 .titleText2, #btmLeftThirdMsg .titleText2,
#btmMidThirdMsg .titleText2,#btmRightThirdMsg .titleText2,
#rightThirdMsg .titleText2{
    text-align:center;
    margin-bottom:5px;
}

#slide1 .imageZone2,#slide2 .imageZone2,
#slide3 .imageZone2,#btmLeftThirdMsg .imageZone2,
#btmMidThirdMsg .imageZone2,#btmRightThirdMsg .imageZone2,
#rightThirdMsg .imageZone2{
    margin-bottom:15px;
}

#slide1 .linkContent2,#slide2 .linkContent2,
#slide3 .linkContent2,#btmLeftThirdMsg .linkContent2,
#btmMidThirdMsg .linkContent2,#btmRightThirdMsg .linkContent2,
#rightThirdMsg .linkContent2{
    margin:0 auto;
    font-size:18px;
    display:block;
    width:80%;
}

#slide1 .descText2,#slide2 .descText2,
#slide3 .descText2,#btmLeftThirdMsg .descText2,
#btmMidThirdMsg .descText2,#btmRightThirdMsg .descText2,
#rightThirdMsg .descText2{
    width:80%;
    margin:0 auto;
    margin-bottom:10px;
}

#slide1 .imageZone2 img,#slide2 .imageZone2 img,
#slide3 .imageZone2 img,#btmLeftThirdMsg .imageZone2 img,
#btmMidThirdMsg .imageZone2 img,#btmRightThirdMsg .imageZone2 img,
#rightThirdMsg .imageZone2 img{
   width:80%;
   margin: 0 auto;
   display:block;

}

#btmSlide1,#btmSlide2,#slider2{
    width:100%;
    height:100%;
}

#inslide1,#inslide2,#inslide3,#inslide4,#inslide5,
#inslide6,#inslide7,#inslide8,#inslide9,#inslide10
{
    width:20%;
    height:100%;
    float:left;
}

#inslide1Div,#inslide2Div,#inslide3Div,#inslide4Div,#inslide5Div,
#inslide6Div,#inslide7Div,#inslide8Div,#inslide9Div,#inslide10Div
{
    height:100%;
    width:100%;
}

.sliderImgDiv{
    width:100%;
    height:80%;
}

.sliderTitleDiv{
    width:100%;
    height:20%;
}

.sliderTitleDiv a{
    width:80%;
    display:block;
    margin:0 auto;
    text-align: center;
}

.sliderImgDiv img{
    width:80%;
    display:block;
    margin:0 auto;
}

#hours,#address{
    height:100%;
    width:33%;
    text-align:center;
    float:left;
}

.footerLabel{
    width:100%;
    padding-top:20px;
    font-size: 20px;
    color:#FFFFFF;
    font-weight: 600;
    margin-bottom:10px;
}

.days,.hours
{
    font-size:18px;
    font-weight:500;
    color:#FFFFFF;
    margin-bottom:5px;
}

.locText{
    font-size:18px;
    font-weight:500;
    color:#FFFFFF;
    margin-bottom:5px;
}

.phone{
    padding-top:10px;
}
