body{
    background-color:#F0EFEF;
}

#topAdZone{
    width:70%;
    max-width:1000px;
    height: 70px;
    background:#F0EFEF;
    margin:0 auto;
    color:#FFFFFF;
}

#bannerZone{
    background:#F0EFEF;
    color:#FFFFFF;
    width:100%;
}

#navZone{
    width:100%;
    height:50px;
    background-image: -o-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: -moz-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: -webkit-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: -ms-linear-gradient(#CC021D 0%, #800011 63%);
    background-image: linear-gradient(#CC021D 0%, #800011 63%);
}

.navLink{
    width:12%;
    float:left;
    height:100%;
    border-left: 1px solid #8B0000;
    border-right: 1px solid #8B0000;
}

.navDiv{
    text-align:center;
    padding: 8px 0;
    height:100%;
    color:#FFFFFF;
    font-weight:500;
}

#nav{
    height:100%;
    width:75%;
    margin:0 auto;
}

.navLink:hover{
    background-color:#BA021B;
}

#bodyWrapper{
    background-color:#F0EFEF;
    width:70%;
    max-width:800px;
    height:1275px;
    margin: 0 auto;
    padding:0 20px;
}

#bodyZone{
    background-color:#F0EFEF;
    width:100%;
    max-width:800px;
    height:1255px;
    margin:0 auto;
}

#loginBodyZone{
    background-color:#F0EFEF;
    width:100%;
    max-width:800px;
    height:auto;
    margin:0 auto;
}

#upperMessage{
background-color:#F0EFEF;
height:70px;
}

.left{
    width:49.5%;
    float:left;
    background:#F0EFEF;
    height:100%;    
}

.right{
    width:49.5%;
    float:right;
    background:#F0EFEF;
    height:100%;
    
}

.middleTop{
    height:320px;
    background:#F0EFEF;
        
}

#sliderDiv{
    height:100%;
    width:60%;
    background:#F0EFEF;
    float:left;
     
}

#midTopMsg.right{
    float:right;
    width:40%;
    height:50%;
    background:#F0EFEF;
}

#midBtmMsg.right{
    float:right;
    width:40%;
    height:50%;
    background:#F0EFEF;
}

.middleBtm{
    height:300px;
    width:100%;
    background:#F0EFEF;
}

.leftThird{
    height:100%;
    width:33.3%;
    float:left;
    background:#F0EFEF;
      
}

.midThird{
    height:100%;
    float:left;
    width:33.3%;
    background:#F0EFEF;
}

.rightThird{
    height:100%;
    float:right;
    width:33.3%;
    background:#F0EFEF;
}

#sliderBtm{
    height:280px;
    width:100%;
    background:#F0EFEF;
}

.bottom{
    height:270px;
    width:100%;
}

#footer{
    width:100%;
    height:270px;
    background:#F0EFEF;
}

.InnerTop{
    width:100%;
    height:50%;
    background:#F0EFEF;
}

.InnerBottom{
    width:100%;
    height:50%;
    background:#F0EFEF;
}

.imgWrapper{
    width:100%;
    
}

.imgWrapper img{
    width:100%;
}

.messageImage{
    float:left;
    width:20%;
    margin-left:5px;
    margin-right:5px;
}

.messageLinkDiv{
    width:auto;
    float:left;
}

#topLeftMsg,#topRightMsg{
    background-color:#ffffff;
    border: 1px solid darkgrey;
    height:100%;

}
